.textWelcome{
  font-size: 14px;
  color: #595A63;
  margin: 0 !important;
}
.textTitle{
  font-weight: 500;
  font-size: 28px;
  color: #30313C;
  margin: 0 0 20px 0 !important;
}
.textDoc{
  margin: 30px 0 0 0
}
.buttonLetsGo{
  width: 100%;
  height: 44px;
  margin-top: 40px;
  font-size: 17px;
  font-weight: bold;
}
.textTitleForm{
  font-weight: 500;
  font-size: 28px;
  color: #30313C;
  margin: 10px 0 20px 0 !important;
}
.textPessoalData{
  font-weight: bold;
  font-size: 14px;
  color: #30313C;
  margin: 0 0 10px 0 !important;
}