
.productName{
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
}

.productPrice{
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6875rem;
  line-height: 2.25rem;
  color: #1890FF;
}

.productDescription, .companyAddress{
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5rem;
  white-space: pre-line;
}

.companyName{
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.675rem;
}

.wrapperImageMain{
  display: flex !important;
  width: 100%;
  justify-content: center !important;
  align-items: center !important;
}

.wrapperCarousel{
  width: 450px !important;
  height: 450px !important;
}

.wrapperCarousel:first-child{
  display: flex;
  align-items: center;
  justify-content: center;
}

.otherTitle{
  margin-top: 20px;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.dots li button{
  background-color: #1980ff !important;
}
