
.contentText{
  margin: 75px 0
}

.contentText p {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-size: 1.125rem; 
  font-weight: 400;
  line-height: 30px;
}


.contentText p.title{
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-size: 2.625rem; 
  font-weight: 800;
  line-height: 55px;
  margin-top: 50px
}


.contentText p.title strong{
  color: #1890FF
}