.cardItem, .cardItemActivate{
  position: relative;
  margin-top: 20px;
  border-radius: 8px;
  height: 124px;
}
.cardItem {
  border: 2px solid #C3D1DD;
}

.cardItemActivate{
  border: 2px solid #7BDAAA;
}

.textMostPopular{
  position: absolute;
  top: -20px;
  left: 0;

  color: #D39C2F;
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 2px !important;
}
.textCardData{
  color: #687B8C;
  font-size: 11px;
  font-weight: bold;
  margin: 5px 0 5px 0 !important
} 

.buttonBuy{
  width: 100%;
  margin-top: 10px;
  font-weight: bold;
  font-size: 12px
}

.textNoThanks{
  color: #687B8C;
  font-size: 12px;
  margin: 0 0 0 0;
  cursor: pointer
}
.imageVisa{
  position: relative;
  width: 48px;
  height: 17px;
  margin-left: 0
}
.imageMasterCard{
  position: relative;
  height: 17px;
}
.labelItem{
  color: #333;
  font-weight: bold !important;
  font-size: 0.75rem !important;
  margin: 0;
  font-family: Lato, sans-serif;
}

.labelBonus{
  font-family: Lato, sans-serif;
  font-style: regular;
  font-size: 0.75rem;
  line-height: 1.4rem;
  line-height: 156%;
  color: #7A8B9A;
}
.valueBonus{
  font-family: Lato, sans-serif;
  font-style: bold;
  font-size: 1.125rem;
  line-height: 1.4rem;
  line-height: 104%;
  color: #FF341A; 
}
