.cardSaleType {
  border: 2px solid #C3D1DD;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  padding: 14px;
  cursor: pointer;
  min-width: 250px;
}

.activated {
  border-color: #1890FF;
}

.contentFormCheckout {
  max-width: 555px;
}

.actionSale {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contentFormCheckoutHeader,
.actionSale {
  padding-top: 12px;
}

@media print {
  .noPrint{
    display:none;
  }
}


@media print {
  .print {
    display: block;
    margin: 0;
  }
}