.text-center {
  text-align: center;
}

.ttu {
  text-transform: uppercase;
}

.printerTicket {
  display: table !important;
  width: 100%;
  max-width: 400px;
  font-weight: light;
  line-height: 1.3em;
}

.printerTicket,
.printerTicket * {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 10px;
}

.printerTicket th:nth-child(2),
.printerTicket td:nth-child(2) {
  width: 50px;
}

.printerTicket th:nth-child(3),
.printerTicket td:nth-child(3) {
  width: 90px;
  text-align: right;
}

.printerTicket th {
  font-weight: inherit;
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px dashed #bcbcbc;
}

.printerTicket tbody tr:last-child td {
  padding-bottom: 10px;
}

.printerTicket tfoot .sup td {
  padding: 10px 0;
  border-top: 1px dashed #bcbcbc;
}

.printerTicket tfoot .sup.paddingBottomZero td {
  padding-bottom: 0;
}

.printerTicket .title {
  font-size: 1.5em;
  padding: 15px 0;
}

.printerTicket .top td {
  padding-top: 10px;
}

.printerTicket .last td {
  padding-bottom: 10px;
}
