.cardSaleType {
  border: 2px solid #C3D1DD;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  padding: 14px;
  cursor: pointer;
  width: 100%;
}

.activated {
  border-color: #1890FF;
}

.contentFormCheckout {
  max-width: 555px;
  min-width: 555px;
}

.actionSale {
  width: 100%;
}

.contentFormCheckoutHeader,
.actionSale {
  padding-top: 12px;
}