.welcomeTitle,
.welcomeSubtitle,
.cardPremiumTitle,
.cardPremiumSubtitle {
  color: #4A4A4A;
  font-family: Lato;
}

.welcomeTitle {
  font-size: 28px
}

.welcomeSubtitle {
  font-size: 14px
}

.cardPremiumAd,
.cardTotalValues,
.cardBarChart,
.cardPieChart,
.cardEmptyState {
  background: #FFFFFF;
  border-radius: 3px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.cardPremiumAd,
.cardTotalValues {
  max-height: 157px;
  min-height: 157px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardPremiumTitle {
  font-weight: bold;
  padding: 20px 0 0 20px;
  font-size: 18px;
}

.cardPremiumSubtitle {
  font-size: 13px;
  width: 80%;
  padding: 0 20px;
}

.cardTotalValues {
  padding: 20px;
  box-sizing: border-box;
}

.cardTotalTitle,
.cardTotalValue {
  color: #333;
  margin: 0;
  padding: 0;
}

.cardTotalTitle {
  font-size: 16px;
}

.cardTotalValue {
  font-size: 40px;
  font-weight: 500;
}

.cardBarChart,
.cardPieChart {
  padding: 20px;
  box-sizing: border-box;
  max-height: 600px;
}

.cardPieChart {
  min-height: 300px;
}

.cardEmptyState {
  display: flex;
  padding: 50px;
  box-sizing: border-box;
  justify-content: space-around;
}

.cardEmptyStateInfo {
  color: #4A4A4A;
}

.cardEmptyStateTitle {
  font-size: 29px;
  font-weight: bold;
}

.cardEmptyStateTitleSpan {
  color: #1890FF;
}

.cardEmptyStateSubtitle {
  font-size: 16px;
  width: 400px;
}
