.textParagraph{
  color: rgb(114, 113, 113);
  font-weight: bold;
  margin: 0 !important;
}


@media print {
  .noPrint{
    display: none;
  }
}


@media print {
  .print {
    display: block;
    margin: 0;
  }
}
