@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@500&display=swap');

.title{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 38px;
}

.contentPublicity {
  height: 100vh;
  background-color: #F2F2F3
}
