.tablePrint {
  text-align: left;
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;

  display: none !important;
}

.tr1 > th {
  padding: 16px 10px;
  font-family: Arial;
  font-weight: 600;
  background: #FFF
}

.tr2 td {
  border-top: 1px dashed #bcbcbc;
  padding: 10px;
}

tr:nth-child(even){background-color: #f2f2f2;}

.labelTable {
  font-weight: normal;
  font-size: 0.8em;
  display: block;
}

.tr5 th {
   padding: 20px 10px;
  background: #fff;
}
.tr3 th {
  padding: 20px 10px;
}

.tr4 td {
  padding: 30px 10px;
}

.signature {
  display: block;
  margin-top:50px;
  border-top: solid 1px #333;
  width: 300px;
  padding-bottom: 16px;
}

@media print {
  .tablePrint {
    display: table !important;
  }
}
