.contentPublicity {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  position: relative;
  padding:  0 44px;
  background-color: #F2F2F3;
  height: 100vh;
}

.contentPublicity span span {
  color: #7BDAAA
}

.contentPublicity > div > img {
  margin-top: 50px;
  margin-bottom: 100px
}

.contentPublicity h1{
  font-size: 31px;
  font-weight: 800;
  line-height: 41px;
  margin-bottom: 50px
}

.contentPublicity h4{
  font-size: 20px;
  font-weight: normal;
  line-height: 41px;
}

.contentPublicity div.wrapperAllTheData{
  bottom: 40%;
  position: absolute;
  right: 0;
  margin-right: 50px;
}

.contentForm {
  height: 100vh;
  padding: 50px;
}
