.headerTitle {
  color : #fff;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.015625rem;
  line-height: 2.6875rem;
}

.headerText {
  color : #fff;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.companyName{
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
}


.companyInfo{
  font-family: Lato, sans-serif;
  margin: 0
}
